doctype html
html
  head
    meta(charset='utf-8')
    style.
      body { font-family: JetBrains Mono, sans; font-size: 16px; color: #fff; margin: 0 }
      p { background: linear-gradient(0, #0005, #0000 90%); line-height: 100px; margin: 0; padding-left: 100px; text-shadow: 3px 3px 3px #0005 }

  body
    p #{song}
    script(src='/ws.js')
